.category-item {
    cursor: pointer;
}

.category-item-controls {
    float: right
}

.category-item-control {
    margin-left: 5px;
}

.task-item {
}
.task-item .checkbox {
    cursor: pointer;
    display: inline;
}
.task-item-controls {
    float: right;
}
.glyphicon {
    pointer-events: none;
}